<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS</title>

    <link href="/assets/styles.css" rel="stylesheet"/>

</head>
<body>
    <%- include('partials/nav') -%>
    <h1>Contact us!</h1>
    <p>You can contact us here...</p>
</body>
</html>